$alert-colors: (
    default: $default,
    primary: $primary,
    secondary: $secondary,
    warning: $warning,
    error: $error,
    success: $success,
);

.alert {
  border-radius: 4px;
  position: relative;
  padding: 15px 60px 15px 20px;

  @each $color, $value in $alert-colors {
    &__#{$color} {
        background-color: rgba(lighten($value, 30%), 0.8);

        .alert {
          &__title {
            color: darken($value, 30%);
          }

          &__text {
            color: darken($value, 40%);
          }
        }
    }
  }

  &__dismiss {
    border: none;
    background: transparent;
    font-size: 2rem;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 1.4rem;
    margin: 0 0 0.5rem;
  }
}