$alert-colors: (
    default: $default,
    primary: $primary,
    secondary: $secondary,
    warning: $warning,
    error: $error,
    success: $success,
);

.alert {
  @each $color, $value in $alert-colors {
    &.#{$color}-colored {
        background-color: rgba(lighten($value, 30%), 0.8);

        .title {
          color: darken($value, 30%);
        }

        .text {
          color: darken($value, 40%);
        }
    }
  }
}
