$badge-colors: (
    default: $default,
    primary: $primary,
    secondary: $secondary,
    warning: $warning,
    error: $error,
    success: $success,
);

.badge {
  @each $color, $value in $badge-colors {
    &.#{$color}-colored {
        background-color: $value;
    }
  }
}