$alert-colors: (
    default: $default,
    primary: $primary,
    secondary: $secondary,
    warning: $warning,
    error: $error,
    success: $success,
);

.alert-dismiss {
  font-size: 2rem;
  border: none;
  background: transparent;
}
