.badge {
  color: white;
  padding: 4px 10px;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 2px; }

.default {
  background-color: #757575; }

.primary {
  background-color: #1565C0; }

.secondary {
  background-color: #6A1B9A; }

.warning {
  background-color: #FFAB00; }

.error {
  background-color: #FF3D00; }

.success {
  background-color: #00C853; }
