.buttonGroupHorizontal .button:not(:only-child):not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.buttonGroupHorizontal .button:not(:only-child):not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.buttonGroupVertical {
  display: inline-block; }
  .buttonGroupVertical .button {
    display: block;
    width: 100%; }
    .buttonGroupVertical .button:not(:only-child):not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .buttonGroupVertical .button:not(:only-child):not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
