@import 'variables';

$card-colors: (
    default: $default,
    primary: $primary,
    secondary: $secondary,
    warning: $warning,
    error: $error,
    success: $success,
);

.card {
  border: 1px solid $border-color;
  border-radius: 4px;
}

.header {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid $border-color;
  padding: 10px 15px;
}

.heading {
  margin: 0;
}

.content {
  padding: 10px 15px;

  *:last-child {
    margin: 0;
  }
}

@each $color, $value in $card-colors {
  .#{$color} {
    &.card {
      border-color: darken($value, 10%);

      .header {
        background-color: rgba(lighten($value, 30%), 0.8);
        border-bottom-color: darken($value, 10%)
      }

      .content {
        background-color: rgba(lighten($value, 30%), 0.8);
      }
    }
  }
}

.outlined {
  @each $color, $value in $card-colors {
    &.#{$color} {
      &.card {
        border-color: $value;

        .header {
          background-color: transparent;
          border-bottom-color: $value;
        }

        .content {
          background-color: transparent;
        }
      }
    }
  }
}