.heading {
  color: #262626;
  font-weight: 600;
  margin: 0 0 0.5rem;
  line-height: 1.2; }

.h6 {
  font-size: 0.875rem; }

.h5 {
  font-size: 1.15rem; }

.h4 {
  font-size: 1.425rem; }

.h3 {
  font-size: 1.7rem; }

.h2 {
  font-size: 1.975rem; }

.h1 {
  font-size: 2.25rem; }
