$default: #757575;
$primary: #1565C0;
$secondary: #6A1B9A;
$warning: #FFAB00;
$error: #FF3D00;
$success: #00C853;

$text-color: #262626;
$text-color-light: #565656;

$border-color: #b1b1b1;

$navbar-background: #c1c1c1;
