$alert-colors: (
    default: $default,
    primary: $primary,
    secondary: $secondary,
    warning: $warning,
    error: $error,
    success: $success,
);

.m-alert {
  border-radius: 4px;
  position: relative;
  padding: 15px 60px 15px 20px;

  @each $color, $value in $alert-colors {
    &.#{$color} {
        background-color: rgba(lighten($value, 30%), 0.8);

        .a-alert {
          &-title {
            color: darken($value, 30%);
          }

          &-text {
            color: darken($value, 40%);
          }
        }
    }
  }
}